@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Krona+One&family=Rock+3D&family=Rubik+Bubbles&display=swap');

.hidden {
    display: none;
}

:root {
    /* Font Family */
    --global--font-heading: "Rubik Bubbles", serif;
    --global--font-body: "Comic Neue", serif;

    /* Font Size */
    --global--font-size-h1: 7.2rem;
    --global--font-size-h2: 3.6rem;
    --global--font-size-h3: 1.8rem;
    --global--font-size-h4: 1.4rem;
    --global--font-size-p: 2.4rem;
    

    --base-font-size: 2.4rem;
    --base-spacing: 3rem;  

    /* Font Weight */
    --global--font-weight-regular: 400;
    --global--font-weight-emphasis: 600;

    /* Spacing & Sizing */
    --global--spacing-primary: 4rem;
    --global--spacing-secondary: 1rem;
    --global--sizing-icon: 2.4rem;
    --global--sizing-icon-L: 3.6rem;
    --global--border-radius: 3.6rem;

    /* Colour */
    --content-primary: #86825f;
    --bg-light: #f7ffe4;
}

@media all and (max-width: 450px) {
    :root {
        --base-font-size: 1.6rem;
    }
}

/* Container */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: var(--base-font-size);
    font-family: var(--global--font-body);
    color: var(--content-primary);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 500;
    padding: 1rem;
}
html,
body,
section {
    background-color: var(--bg-light);
    scrollbar-width: thin;
}

h1, h2, h3, h4 {
    font-family: var(--global--font-heading);
    font-weight: 300;
}

h1 {
    font-size: calc(var(--base-font-size)*3);
    margin: 1rem 0;
}

h2 {
    font-size: calc(var(--base-font-size)*2);
    margin: 0.5rem 0;
}

h3 {
    font-size: calc(var(--base-font-size)*1);
    margin: 0.5rem 0;
}

/* SECTION */
.section {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#section-intro {
    overflow: hidden;
}

#section-bubble {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.site-intro {
    min-width: 400px;
    width: 20%;
    padding-left: 0;
    padding-right: 3rem;
}

#bubble-chart {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* FILTER */
.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#chart-sort {
    display: flex;
    flex-direction: column;
}

#chart-sort button {
    position: relative;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    z-index: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--content-primary)
}

#chart-sort button:hover {
    background-color: khaki;
    color: var(--content-primary);
}

#chart-sort button.active{
    background-color: DarkSeaGreen;
    color: var(--bg-light)
}

#chart-sort .button-reset{
    background-color: darkkhaki;
    color: var(--bg-light);
}

.language-group, .genre-group {
    width: 200px;
    padding-right: 1rem;
    margin-top: 2rem;
}

.language-group h3::before, .genre-group h3::before {
    content:"+";
    padding: 1rem;
}

.language-group h3.expanded::before, .genre-group h3.expanded::before {
    content:"x";
}

.language-group h3, .genre-group h3 {
    padding-bottom: 1rem;
    border-bottom: 2px dotted var(--content-primary);
}

.language-group h3.expanded, .genre-group h3.expanded {
    border-bottom: none;
}

.genre-button, .language.button {
    margin-bottom: 2rem;
}

.button-container h4 {
    margin-bottom: 10px;
}

.button-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    height: 3rem;
}

.bar-total {
    position: absolute;
    background-color: khaki;
    height: 1rem;
    border-radius: 5rem;
    width: 100%;
}
.bar-highlight {
    position: absolute;
    background-color: darkkhaki;
    height: 1rem;
    border-radius: 5rem;
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid var(--content-primary);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 300px;
    z-index: 10;
}