@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Krona+One&family=Rock+3D&family=Rubik+Bubbles&display=swap');

.hidden {
    display: none;
}

:root {
    /* Font Family */
    --global--font-heading: "Rubik Bubbles", serif;
    --global--font-body: "Comic Neue", serif;

    /* Font Size */
    --global--font-size-h1: 7.2rem;
    --global--font-size-h2: 3.6rem;
    --global--font-size-h3: 1.8rem;
    --global--font-size-h4: 1.4rem;
    --global--font-size-p: 2.4rem;
    --global--letter-spacing: normal;

    --base-font-size: 3.6rem;  
    --base-spacing: 3rem;  

    /* Font Weight */
    --global--font-weight-regular: 400;
    --global--font-weight-emphasis: 600;

    /* Spacing & Sizing */
    --global--spacing-primary: 4rem;
    --global--spacing-secondary: 1rem;
    --global--sizing-icon: 2.4rem;
    --global--sizing-icon-L: 3.6rem;
    --global--border-radius: 3.6rem;

    /* Colour */
    --content-primary: #8A7E6B;
    --bg-light: #FAFFD5;
}

@media all and (max-width: 450px) {
    :root {
        --base-font-size: 1.8rem;
    }
}

/* Container */
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: var(--global--font-size-p);
    font-family: var(--global--font-body);
    color: var(--content-primary);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 500;
}
html,
body,
section {
    block-size: 100%;
    background-color: var(--bg-light);
}

h1, h2, h3, h4 {
    font-family: var(--global--font-heading);
    font-weight: 300;
}

h1 {
    font-size: calc(var(--base-font-size)*2);
}

/* SECTION */
.section {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#section-intro {

    overflow: hidden;
}

#section-bubble {
    display: flex;
    flex-direction: row;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
}

/* FILTER */
.button-container {
    display: flex;
    flex-direction: column;
}
.button-container button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}

.genre-button, .language.button {
    margin-bottom: 2rem;
}

.button-container button:hover {
    background-color: transparent;
}

.button-container h4 {
    margin-bottom: 10px;
}

.button-group {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    height: 3rem;
}

.bar-total {
    position: absolute;
    background-color: khaki;
    height: 1rem;
    border-radius: 5rem;
    width: 100%;
}
.bar-highlight {
    position: absolute;
    background-color: darkkhaki;
    height: 1rem;
    border-radius: 5rem;
}